.company-selection {
  height: 320px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cs-container {
  display: flex;
  gap: 32px;
  height: 100%;
}

.cs-add-new {
  height: 100%;
  width: 120px;
  background-color: var(--text-more-muted);
  display: flex;
  justify-content: center;
  align-items: center;
}
