.cs-container {
  display: flex;
  gap: 32px;
  height: 100%;
}

.cs-add-new {
  min-height: 140px;
  min-width: 120px;
  background-color: var(--text-more-muted);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.cs-carousel {
  display: flex;
  gap: 32px;
  overflow: auto;
}

.cs-company-item {
  height: 100%;
  min-width: 192px;
  background-color: var(--text-muted);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
