/* Footer section */
.footer-section {
  height: 250px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: right;
}

.footer-section h2 {
  color: var(--text-more-muted);
  font-size: 32px;
}
