.pb-container {
  height: 389px;
  display: flex;
  gap: 32px;
}

.pb-upload-container {
  align-items: center;
  width: 568px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pb-upload-container .btn-primary {
  width: 568px;
}

.pb-preview {
  flex-grow: 1;
  height: 100%;
  background-color: var(--text-muted);
  border-radius: 16px 0 0 16px;
}
